.span-color {
    color: rgb(233, 171, 13);

}

.catagories-color {

    color: black;
    background-color: rgb(241, 199, 94);
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.catagories-color:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}



.author-img {
    height: 5vh;
}

.btn-color {
    background-color: rgb(248, 179, 3);

}